body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  background-color: #1f2937;
  /* Put space around the header content. */
  padding: 16px 0px;
  /* Make the flex items the logo and the collection of links. */
  display: flex;
  /* Put space between the header logo and the links. */
  justify-content: space-around;
  /* Center the header vertically. */
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* Make the flex items the separate list items. */
  display: flex;
  /* Put space between the links. */
  gap: 50px;
}

a, p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
}

.hero-button {
  color: #f9faf8;
  background-color: #3882f6;
  font-weight: bold;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  margin-top: 8px;
}

.hero-image {
  color: #f9faf8;
  background-color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  /* Make flex items to horizontally place the image. */
  display: flex;
  /* Put space around the hero section. */
  padding: 100px 0px;
  /* Center the header vertically. */
  align-items: center;
  /* Put space on both sides of the hero section. */
  justify-content: center;
  /* Put space between the hero content and image. */
  gap: 64px;
}

.hero div {
  /* Even space both children in the hero section. */
  flex: 1;
  /* Fix the width for both flex items in the hero section. */
  max-width: 450px;
}

.information {
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #1f2937;
}

.image {
  height: 160px;
  width: 160px;
  border-width: 4px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 8px;
}

.boxes {
  /* Horizontally align the information content. */
  display: flex;
  /* Put space below the information section. */
  margin-bottom: 100px;
  /* Center the boxes. */
  justify-content: center;
  /* Put space between the boxes. */
  gap: 50px
}

.boxes div {
  /* Make the width of the flex children the same as the boxes. */
  max-width: 160px;
}

.boxes div p {
  margin-top: 4px;
  color: #777777;
}

.quote {
  background-color: #e5e7eb;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #5f5f5f;
  max-width: 830px;
  /* Center the quote horizontally. */
  align-self: center;
}

.author {
  font-size: 25px;
  color: #1f2937;
  font-weight: bold;
  max-width: 830px;
  align-self: flex-end;
  margin-right: 390px;
}