body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  background-color: #1f2937;
  /* Put space around the header content. */
  padding: 16px 250px;
  /* Make the flex items the logo and the collection of links. */
  display: flex;
  /* Put space between the header logo and the links. */
  justify-content: space-between;
  /* Center the header vertically. */
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* Make the flex items the separate list items. */
  display: flex;
  /* Put space between the links. */
  gap: 50px;
}

a, p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
}

.hero-button {
  color: #f9faf8;
  background-color: #3882f6;
  font-weight: bold;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  margin-top: 8px;
}

.hero-image {
  color: #f9faf8;
  background-color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  /* Make flex items to horizontally place the image. */
  display: flex;
  /* Put space around the hero section. */
  padding: 100px 250px;
  /* Put space between the hero text and the image. */
  gap: 16px;
}

.hero div {
  /* Even space both children in the hero section. */
  flex: 1;
}

.image {
  height: 150px;
  width: 150px;
  border-width: 4px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 8px;
}

.boxes {
  /* Horizontally align the information content. */
  display: flex;
}